docx
requests
sys
tldextract                                            
termcolor
re    
urllib.parse
progressbar
urlextract
bs4
os
OpenSSL
idna
socket
datetime
ssl
json


Identifying Self Signed Certificate
Expired SSL certificate 
Weak Hashing Algorithm
Usage of Older TLS versions like 1.0 and 1.1
Weak Strength and Medium Strength Cipher Suites 
SSL CCS Injection Vulnerability
Heartbleed Vulnerability
Clickjacking Vulnerability
HSTS Missing vulnerability
Cross Origin Resource Sharing
Server Version leakages
Host Header Injections
Internal IP disclosure with HTTP/1.0 support
XSS - Form Based
POPULAR CVE's
	CVE-2020-5902 - BIG IP RCE
	CVE-2020-3452 - Cisco Path Traversal Vulnerability
	STRUTS CVE's
	    CVE: 2017-5638 - OGNL Based RCE
	    CVE: 2017-5637 - Java class template injection RCE
Options Bleed Vulnerability
AEM vulnerability 
Predicatable Internal Sensitive Folders
Directory Listings

