docx
requests==2.21.0
tldextract                                            
termcolor
progressbar
urlextract
bs4
idna
datetime
pyOpenSSL
dns.resolver
py-emailprotections==0.8.5

re    
urllib.parse
os
socket
ssl
json




